@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css o tu archivo CSS principal */

/* Importar la fuente desde la carpeta en tu proyecto */
/* src/index.css o tu archivo CSS principal */

/* Importar la fuente desde la carpeta en tu proyecto */
@font-face {
    font-family: 'Nexa';
    src: url('../public/Fonts/Nexa-Trial-Regular.ttf') format('ttf'),
        ;
    font-weight: normal;
    font-style: normal;
}

.bg-home2{
  background: url("./assets/baner-home.jpg") no-repeat center center;
  background-size: cover;
}
.bg-partronCorazon{
  background: url("./assets/Amouré_3.Patrónamor.svg");
  
}
html{
  scroll-behavior: smooth;
}

/* Estilos del loader */
.loader {
  border: 8px solid #f3f3f3; /* Fondo gris claro del loader */
  border-top: 8px solid #3498db; /* Azul para la parte superior del spinner */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

/* Animación de giro del loader */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Estilos adicionales para el texto de carga */
.animate-pulse {
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
