@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css o tu archivo CSS principal */

/* Importar la fuente desde la carpeta en tu proyecto */
/* src/index.css o tu archivo CSS principal */

/* Importar la fuente desde la carpeta en tu proyecto */
@font-face {
    font-family: 'Nexa';
    src: url('../public/Fonts/Nexa-Trial-Regular.ttf') format('ttf'),
        ;
    font-weight: normal;
    font-style: normal;
}

.bg-home2{
  background: url("./assets/baner-home.jpg") no-repeat center center;
  background-size: cover;
}
.bg-partronCorazon{
  background: url("./assets/Amouré_3.Patrónamor.svg");
  
}